.contact {
    .introduction {
        // background-color: plum;
        width: 75%;
        display: flex;
        justify-content: center;
        align-items: center;

        .img-wrapper {
            position: absolute;
            bottom: 0;
            left: -3rem;
            // background-color: yellow;
            display: flex;
            height: 100%;


            img {
                // border: blue solid 1px;
                align-self: flex-end;
                height: 90%;
            }
        }

        .text {
            // border: green dashed 1px;

            a {
                font-size: 2.5rem;
                transition: ease-in-out font-size 2s, color 2s;

                &:hover {
                    font-size: 3rem;
                    color: rgb(92, 111, 108);
                }
            }
        }
    }

    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // border: red dashed 1px;

        form {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            width: 50%;
            // border: blue solid 1px;

            label {
                display: flex;
                flex-direction: column;
                font-size: 1.5rem;
            }

            input,
            textarea {
                margin-top: 5px;
                padding: 10px;
                background-color: #D9D9D9;
                border: none;
                font-size: 1.2rem;
            }

            textarea {
                height: 100px;
            }
        }
    }

    @media (max-width: 1024px) {
        flex-direction: column;
        gap: 2rem;

        .introduction {
            width: 100%;

            .text {
                a {
                    font-size: 2rem;
                }
            }
        }

        .form {
            margin-bottom: 2rem;

            form {
                // border: yellow dashed 2px;
                width: 100%;
                padding: 2rem;
                text-align: center;
            }
        }
    }

    @media (max-width: 480px) {
        .form {
            form {
                padding: 0;
            }
        }
    }
}