.homepage {
    &.container{
        padding-bottom: 0;
    }
    
    section {
        max-width: 50%;

        &.me-image {
            width: 50%;
            position: relative;

            img {
                height: 90%;
                position: absolute;
                bottom: 0;
                left: -3rem;
            }

        }

        @media (max-width: 768px) {
        max-width: 100%;

            &.me-image{
                display: none;
            }
        }
    }
}