// .img-container {
//     // margin-top: 70px;
//     height: 100%;
//     width: 45%;
//     background-color: yellow;
//     // z-index: 1;
// }

// .homepage {
//     display: flex;
// }

.homepage {
    &.container{
        padding-bottom: 0;
    }
    
    section {
        max-width: 50%;

        &.me-image {
            // max-height: 100%;
            // border: turquoise 1px solid;
            width: 50%;
            position: relative;

            img {
                height: 90%;
                // align-self: flex-end;
                position: absolute;
                bottom: 0;
                left: -3rem;
                // border: red dashed 1px;
            }

            @media (max-width: 768px) {
                display: none;
            }
        }
    }
}

// .container {

//     .hidden {
//         display: none;
//     }

//     flex-wrap: wrap;
//     // flex-direction: row-reverse;
//     // overflow: scroll;
// }